.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 20px; /* Padding for the header */
  position: relative; /* Positioning for the source code link */
}

.header h1 {
  margin: 0;
  font-size: 36px; /* Increased font size for 'Knight's Tour Visualizer' */
}

.header p {
  margin: 5px 0 0 0;
  font-size: 14px;
}

.source-link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  position: absolute;
  right: 20px; /* Position the link to the right */
  top: 50%;
  transform: translateY(-50%);
  background-color: #1e90ff; /* Blue background color */
  padding: 8px 15px; /* Padding inside the box */
  border-radius: 5px; /* Rounded corners */
}

